<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>CATME</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
<!--    <form role="form" th:action="@{/loginaction}" th:object="${user}" method="POST">-->
<!--        <div>-->
<!--            <h1>Login </h1>-->
<!--            <label><b>Email ID</b></label>-->
<!--            <input type="email" placeholder="Enter Email-ID" th:field="*{emailID}" id="emailID" required>-->
<!--            <hr>-->

<!--            <label><b>Password</b></label>-->
<!--            <input type="password" placeholder="Enter Password" th:field="*{password}" id="password" required>-->
<!--            <hr>-->

<!--            <input type="submit" class="loginbtn">Login</input>-->
<!--        </div>-->
<!--        <br>-->
<!--        <a href="register">New User?Sign up here! </a>-->
<!--    </form>-->
    <h1>Welcome to course website</h1>
    <p>Click here for login <a href="/login">login</a></p>
    <p>Click here for register <a href="/register">register</a></p>
</div>
</body>
</html>
