<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div>
        <h1 align="center">Welcome to Admin Page</h1>
    </div>
    <div  style="border-style: solid;"></div>
    <div>
        <h3 style="float: left; margin-top: 10px; margint-right: 10px; text-decoration: bold" align="center">Course List:</h3>
        <div align="right">
            <button id="logOutButton"
                    type="button" style="margin-top: 10px; margint-right: 10px; text-align: center; color: red">
                Log Out
            </button>
        </div>
    </div>
    <div  style="border-style: solid; margin-top: 10px"></div>
    <div style="margin-top:10px; margib-left: 10px">
        <button id="addCourseID" type="button" style="margin-top: 10px; text-align: center; height: 36px; width: 150px">
            Add a new Course
        </button>
    </div>
    <div style="margin-top: 10px">
        <table align="center">
            <thead>
                <tr>
                    <th> Course ID </th>
                    <th> Course Name </th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${Courses.empty}">
                    <td colspan="2"> No courses available </td>
                </tr>
                <tr th:each="course: ${Courses}">
                    <td><a th:href="@{/admincoursepage(cid=${course.courseId})}" th:text="${course.courseId}" target="_self"></a></td>
                    <td><a th:href="@{/admincoursepage(cid=${course.courseId})}" th:text="${course.courseName}" target="_self"></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>