<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Course Name</title>
    </head>
    <body>
        <div>
            <h1 align="center" th:text="${CourseName}"></h1>
        </div>
        <div  style="border-style: solid;"></div>
        <div align="right">
            <form th:action="@{/login}" method="get" style="margin-top: 10px;">
                <input type="submit" id="logOutButton" value="Log Out">
            </form>
        </div>
        <div  style="border-style: solid; margin-top: 10px"></div>
        <div style="margin-top: 10px; position: absolute">
            <h3 style="float: left; margin-left:10px; margin-top:10px; text-decoration:bold">Instructor's Name:</h3>
            <h3 style="margin-top:10px; float:left; margin-left:10px; color: grey; text-decoration: underline;">

            </h3>
        </div>
        <div style="margin-top:40px; margib-left: 10px; position:relative;" align="center">
            <form role="form" method="post" id="assignInstructorForm" th:action="@{/admin/assigninstructor}"
                th:object="${assignInstructor}">
                <input type="text" style="visibility: hidden" th:text="${CourseID}" name="courseID" th:value="${CourseID}">
                <input list="users" name="instructorList" id="instructorDropDown" style="height: 28px;">
                <datalist id="users" >
                    <option th:each = "user: ${Users}" th:value="${user.getBannerID()}" th:text="|${user.getFirstName()} ${user.getLastName()}|"></option>
                </datalist>
                <input type="submit" value="Assign an Instructor"
                       id="assignInstructor"
                       style="margin-top: 10px; text-align: center; height: 36px; width: 150px">
            </form>
        </div>
    </body>
</html>