<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Course Creation</title>
</head>
<body>
    <h1 align="center">Course Addition Page</h1>
    <div  style="border-style: solid;"></div>
    <div align="right">
        <form th:action="@{/login}" method="post" style="margin-top: 10px;">
            <input type="submit" id="logOutButton" value="Log Out">
        </form>
    </div>
    <div  style="border-style: solid; margin-top: 10px"></div>
    <div style="margin-top:40px; margib-left: 10px; position:relative;" align="center">
        <form role="form" method="post" id="addCourseForm" th:action="@{/course/addcourse}">
            <p>Course ID: <input type="text" name="CourseID"/></p>
            <p>Course Name: <input type="text" name="CourseName"/></p>
            <input type="submit" value="Add Course"
                   id="addCourse"
                   style="margin-top: 10px; text-align: center; height: 36px; width: 150px">
        </form>
    </div>
</body>
</html>