<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Course Page</title>
    <script type="text/javascript" th:src="@{resources/support.js}"></script>
</head>
<body>
    <div class="alert alert-danger" role="alert" th:if="${error}">
        <strong>Error:</strong>
        <span th:text="${message}"></span>
    </div>
    <div class="" th:if="${Instructor}">
        <form method="POST" th:action="@{/assign-TA(c_id=${c_id})}" th:object="${user}">
            <label>Select a student to assign as a TA</label>
            <input list="users" name="assignedTA" id="assignedTA">
            <datalist id="users">
                <option th:each="user : ${userList}" th:value="${user.bannerID}" th:text="|${user.firstName} ${user.lastName}|"></option>
            </datalist>
            <br><br>
            <button type="submit" class="btn btn-primary">Make TA</button>
        </form>
    </div>
    <div class="" th:if="${TA}">
        <form method="POST" th:action="@{/course-page/fetchCSV(c_id=${c_id})}" enctype="multipart/form-data">
            <div class="form-group mt-3">
                <label for="file">Select a student CSV file</label>
                <input type="file" name="file" class="form-control-file" id="file" accept=".csv">
            </div>
            <button type="submit" class="btn btn-primary">Import Students</button>
        </form>
    </div>
    <div class="" th:if="${student}">
        Welcome to <span th:text="|${courseID}: ${courseName}"></span>
    </div>
</body>
</html>