<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div>
        <h1 align="center">Welcome to Home Page</h1>
    </div>
    <div  style="border-style: solid;"></div>
    <div>
        <h3 style="float: left; margin-top: 10px; margint-right: 10px; text-decoration: bold" align="center">Course List:</h3>
        <div align="right">
            <form th:action="@{/login}" method="get" style="margin-top: 10px;">
                <input type="submit" id="logOutButton" value="Log Out">
            </form>
        </div>
    </div>
    <div  style="border-style: solid; margin-top: 10px"></div>
    <div style="margin-top: 10px">
        <table align="center">
            <thead>
            <tr>
                <th> Course ID </th>
                <th> Course Name </th>
                <th> Your Role </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course: ${Courses}">
                <td><a th:href="@{/course-page(c_id=${course.courseID}, bannerId=${course.bannerID}, roleId=${course.roleID})}" th:text="${course.courseID}" target="_self"></a></td>
                <td><a th:href="@{/course-page(c_id=${course.courseID}, bannerId=${course.bannerID}, roleId=${course.roleID})}" th:text="${course.courseName}" target="_self"></a></td>
                <td><span th:text="${course.roleType}"> Your Role </span></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>