<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Registration Page</title>
</head>
<body>

    <form th:action="@{/register}" th:object="${user}" method="post">
  <div class="container">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>
<div layout:fragement="content" class="container mySpace">
    <div class="alert alert-info" th:if="${bannerIdAlreadyExists}">
    <p class="text text-center"> 
    User with this Banner ID already exist. Please enter a new Banner ID
    </p>
    </div>
	<label for="bannerId"><b>Banner ID</b></label>
    <input type="text" placeholder="Banner ID" th:field="*{bannerID}" id="bannerId" required>
    <div class="alert alert-info" th:if="${bannerIdError}">
       <p class="text text-center"> 
   	Please enter a valid banner Id of size 5 to 9 only 
    </p>
       </div>
    <hr>

	<label for="firstName"><b>First Name</b></label>
    <input type="text" placeholder="First Name" th:field="*{firstName}" id="firstName" required>
    <div class="alert alert-info" th:if="${firstNameError}">
       <p class="text text-center"> 
   	Please enter a valid first name using alphabets only 
    </p>
       </div>
    <hr>

	<label for="lastName"><b>Last Name</b></label>
    <input type="text" placeholder="Last Name" th:field="*{lastName}" id="lastName" required>
    <div class="alert alert-info" th:if="${lastNameError}">
       <p class="text text-center"> 
   	Please enter a valid last name using alphabets only 
    </p>
       </div>
    <hr>
    
    <div layout:fragement="content" class="container mySpace">
    <div class="alert alert-info" th:if="${userAlreadyExists}">
    <p class="text text-center"> 
    User with this email already exist. Please enter a new email address
    </p>
    </div>
    
    <label for="emailID"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" th:field="*{emailID}" id="emailID" required>
       <div class="alert alert-info" th:if="${emailError}">
       <p class="text text-center"> 
   	Please enter a valid email address<br/>
   	A-Z characters are permitted<br/>
a-z characters are permitted<br/>
0-9 digits are permitted<br/>
Underscore(_), dash(-), and dot(.) are permitted
    </p>
       </div>
   
    <hr>


    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" th:field="*{password}" id="password" required>
     <div class="alert alert-info" th:if="${passwordError}">
       <p class="text text-center"> 
   	Please enter a valid password of size 5 to 15
    </p>
       </div>
    <hr>

    <button type="submit" class="registerbtn">Register</button>
  </div>

  <div class="container signin">
    <p>Already have an account? <a href="login">Sign in</a>.</p>
  </div>
</form>
</body>
</html>