<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>TA assign success</title>
</head>
<body>
    <div class="alert alert-danger" role="alert" th:if="${error}">
        <strong>Error:</strong>
        <span th:text="${message}"></span>
    </div>
    <div th:if="${!error}">
        Assign the student to TA with bannerID:
        <p th:text="${bannerID}"></p>
        <p>Go back to course page <a href="/userdashboard">User Dashboard</a></p>
    </div>
</body>
</html>